body {
color: white;
background: rgb(0, 19, 105);
margin: 0px;
font-family:"molle";
font: 200px;

}
header {
border-bottom: solid 2px rgb(127, 48, 255);
padding: 0px;
font-size:45px;
color: rgb(127, 48, 255);
}
.ACAO {
background: rgb(100, 0, 182);
padding-bottom: 80px;
padding-top: 20px;
display: flex;
overflow-x: auto;
gap: 50px;
}
.ACAO{
padding-left: 20px;
padding-right: 200px;
margin-top: 50px;
}
.ACAO{
opacity: 0.5;
height: 300px;
}

.COMEDIA {
background: rgb(100, 0, 182);
padding-bottom: 80px;
padding-top: 20px;
display: flex;
overflow-x: auto;
gap: 10px;
}
.COMEDIA{
padding-left: 20px;
padding-right: 20px;
margin-top: 50px;
}
.COMEDIA{
opacity: 0.5;
height: 300px;
}

.ESPORTE {
background: rgb(100, 0, 182);
padding-bottom: 80px;
padding-top: 20px;
display: flex;
overflow-x: auto;
gap: 10px;
}
.ESPORTE{
padding-left: 20px;
padding-right: 20px;
margin-top: 50px;
}
.ESPORTE{
opacity: 0.5;
height: 300px;
}

.FICCAOCM {
background: rgb(100, 0, 182);
padding-bottom: 80px;
padding-top: 20px;
display: flex;
overflow-x: auto;
gap: 10px;
}
.FICCAOCM{
padding-left: 20px;
padding-right: 20px;
margin-top: 50px;
}
.FICCAOCM{
opacity: 0.5;
height: 300px;
}
.ROMANCE{
background: rgb(100, 0, 182);
padding-bottom: 80px;
padding-top: 20px;
display: flex;
overflow-x: auto;
gap: 10px;
}
.ROMANCE{
padding-left: 20px;
padding-right: 20px;
margin-top: 50px;
}
.ROMANCE{
opacity: 0.5;
height: 300px;
}
.FANTASIA {
background: rgb(100, 0, 182);
padding-bottom: 80px;
padding-top: 20px;
display: flex;
overflow-x: auto;
gap: 10px;
}
.FANTASIA{
padding-left: 20px;
padding-right: 20px;
margin-top: 50px;
}
.FANTASIA{
opacity: 0.5;
height: 300px;
}
.TERROR {
background: rgb(100, 0, 182);
padding-bottom: 80px;
padding-top: 20px;
display: flex;
overflow-x: auto;
gap: 10px;
}
.TERROR{
padding-left: 20px;
padding-right: 20px;
margin-top: 50px;
}
.TERROR{
opacity: 0.5;
height: 300px;
}
.DRAMARA {
background: rgb(100, 0, 182);
padding-bottom: 80px;
padding-top: 20px;
display: flex;
overflow-x: auto;
gap: 10px;
}
.DRAMARA{
padding-left: 20px;
padding-right: 20px;
margin-top: 50px;
}
.DRAMARA{
opacity: 0.5;
height: 300px;
}