body {
color: white;
background: rgb(0, 19, 105);
margin: 0px;
font-family:"molle"
}
header {
border-bottom: solid 2px rgb(127, 48, 255);
padding: 0px;
font-size:45px;
color: rgb(127, 48, 255);
}
.AÇÃO {
background: rgb(5, 238, 44);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}
.COMEDIA{
background: rgb(5, 238, 44);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}

.ESPORTE {
background: rgb(5, 238, 44);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}
.FICÇÃO-CIENTÍFICA-E-MISTÉRIO{
background: rgb(5, 238, 44);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}

.ROMANCE {
background: rgb(5, 238, 44);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}
.FANTASIA-E-SOBRENATURAL{
background: rgb(5, 238, 44);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}
.TERROR-E-SUSPENSE
 {
background: rgb(5, 238, 44);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}
.DRAMA-OU-ROMANCE-ADOLESCENDO{
background: rgb(5, 238, 44);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}